section {
    margin: 20px 0;
}

.wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selection-title {
    width: 120px;
}

.selection-title > span {
    font-weight: bold;
}

.input-custom-format {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

label {
    display: inline-block;
    width: 74px;
    align-items: center;
}

input[type=text] {
    width: 300px;
    height: 18px;
    border-radius: 8px;
    border: 1px solid #8d8d8d;
    padding: 4px;

}

input[type=checkbox] {
    cursor: pointer;
}

button {
    all: unset;
}

#add-file {
    padding: 4px 12px;
    background-color: #8d8d8d;
    border-radius: 8px;
    font-size: 12px;
    color: whitesmoke;
    display: inherit;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

#add-file:active {
    background-color: whitesmoke;
    color: black;
}

#add-button {
    padding: 4px 12px;
    background-color: #8d8d8d;
    border-radius: 8px;
    font-size: 12px;
    color: whitesmoke;
    display: inherit;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

#add-button:active {
    background-color: whitesmoke;
    color: black;
}

#chip-area {
    margin-left: 130px;
    margin-top: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 8px;
    width: 500px;
    min-height: 200px;
    padding: 16px;
    gap: 5px;
    align-content: first baseline;
}

#count {
    display: block;
}

#chip-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.chip {
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: whitesmoke;
    border: 1px solid #8d8d8d;
    display: flex;
    clear: both;
    align-items: center;
    justify-content: center;

}

.chip > span {
    font-size: 16px;
    cursor: pointer;
    color: #8d8d8d;
}

.chip > span:active {
    cursor: pointer;
    color: black;

}